
<h2>Restaurant Name = <%= @restaurant.name %></h2>
<h3>Food type = <%= @restaurant.category %></h3>
<h3>Adress = <%= @restaurant.address %></h3>
<h3>Phone Number = <%= @restaurant.phone_number %></h3>

<% @restaurant.reviews.each do |review| %>
<h3>Content = <%= review.content%></h3>
<p><%= review.rating%></p>
<% end %>


<%= link_to "Edit Resto?", edit_restaurant_path %>
<%= link_to "Back to all restos", restaurants_path %>
<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

